.ticket {
    display: grid;
    grid-template-columns: 2fr 4fr; 
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background: #FFFFFF;
    height: 140px;
    padding: 10px;
}
.ticket-booking {
    display: flex;
    flex-flow: column nowrap;
    border-right: 1px solid black;
}
.ticket-booking-carrier {
    display: flex;
    align-items: center;
    height: 52px;
    padding: 0 38px 0;
    color: #26327F;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 17px;
}
.ticket-logo {
    width: 40px;
    height: 35px;
}
.ticket-btn {
    display: flex;
    width: 170px;
    height: 60px;
    background: #FF8122;
    border-radius: 7px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 14px;
    align-items: center;
    text-align: center;
    transition: .3s opacity;
    cursor: pointer;
    white-space: normal;
    margin: 11px;
}
.ticket-btn:hover {
    opacity: 0.7;
}
.ticket-btn:active {
    opacity: 0.7;
    background: #2196F3;
    color: #FFFFFF;
}
.ticket-info {
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
}
.ticket-info-main {
    display: flex;
    justify-content: space-between;
}
.ticket-info-stripe-arrow {
    display: inline-flex;
    justify-content: flex-end;
}
.ticket-info-stripe {
    margin: 0;
    width: 100px;
    border-bottom: 2px solid black;
}
.ticket-info-arrow {
    display: block;
    border-radius: 1px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    width: 4px;
    height: 4px;
    transform: rotate(225deg);
}
.ticket-info-main-time {
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 14px;
}
.ticket-info-subtitle {
    display: flex;
    justify-content: space-between;
}
.ticket-info-places {
    padding-top: 12px;
    font-weight: 700;
    font-size: 15px;
}
.ticket-info-dates {
    padding-top: 5px;
    font-weight: 200;
    font-size: 15px;
    color: grey;
}